name: pull_request

on: [ pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Node
          uses: actions/setup-node@v1
          with:
            node-version: 15.8
      - name: Build
          run: |
            npm run build-js
